body{
  background-color: #FAFAFA;
  padding: 75px 0px 0px 0px;;
}

#productCheckOutCarousel{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 640px;
}

.check-out-summary-image-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  overflow: hidden;
}


.modal-lg {
    /*max-width: 60% !important;*/
    /*max-height:70% !important;*/
}

.modal-lg .modal-content .modal-body{
  padding: 2rem;
}

.checkOutModalInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal button.close{
  color:#fff;
  margin-right: 5px;
  opacity: 1;
}

.carousel-indicators li{
  background-color:#999;
}

.carousel-control-prev, .carousel-control-next{
  color:#999;
}
.carousel-control-prev:hover, .carousel-control-next:hover,.carousel-control-prev:focus, .carousel-control-next:focus{
  color:#777;
}

.shopper-nickname{
  font-weight: 100;
}
.shopper-info{
  margin-top:20px;
}
.shopper-description{
  margin-top: 20px;
}

.shopper-board{
  margin-top: 40px;
}

.shopper-avatar-wrapper{
  display: inline-block;
}

.shopper-avatar-wrapper .shopper-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  overflow: hidden;
  border-radius: 50%;
  border:3px solid rgba(0,0,0,0.098);


}

.shopper-avatar img{
  display: block;
  width: 100%;
}

.navbar-light{
  border-bottom: 1px solid rgba(0,0,0,0.098)
}

.pt{
  margin-top:25px;
}
.pt .pt-header{

}
.pt .pt-body{
  height: 340px;
  overflow: hidden;
  position: relative;
}

.pt .pt-body .pt-body-image-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
}

.pt .pt-body  .pt-body-image-wrapper img{
  width: 100%;
  display: block;
}

.pt .pt-body .pt-body-overlay{
  display:flex;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0,0,0,0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
}

.pt .pt-body:hover .pt-body-overlay{
  opacity: 1;
}

.pt .pt-body .pt-body-overlay h2{
  color:#fff;
  font-size: 25px;
}

.pt .pt-body .pt-body-overlay p{
  color:#fff;
}


.pt .pt-footer{

}
